$font-stack: "Open Sans", sans-serif;
$primary-color: #000000;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin display-flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

body {
  margin: 0;
  padding: 0;
  color: $primary-color;
  background-color: #FFFFFF;
  width: 100%;
  height: auto;
}
.fontmix {
  color: $primary-color;
  font-family: $font-stack;
  font-style: normal;
  margin: 0;
  padding: 0;
}
header {
  margin: 0 auto;
  padding: 0;
  width: 60em;
  height: 3em;
  margin-top: 5%;
      .form-search {
        float: left;
        padding-left: 5%;
      }
      .search-text {
        width: 430px;
      }
      label {
        font-size: 0.875em;
        font-weight: 700;
        @extend .fontmix
      }
      .form-list {
        float: right;
        padding-right: 5%;

      }
}
main {
  margin: 0;
  padding: 0;
  -webkit-flex-flow: row wrap;
  justify-content: center;
  @include display-flexbox;
}